name: pymeria
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pillow
  - click
  - requests
  - pymomentum>=0.1.33
  - ezc3d<1.6.0
  - rerun-sdk<0.28.0
  - tqdm
  - pip
  - pip:
    - loguru
    - projectaria-tools==1.5.5
    - -e .
